
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WebChat</title>
  <script src='http://localhost:3000/socket.io/socket.io.js'></script>
</head>
<body>
  <ul id="onlineUsers" >
  </ul>
  <ul id="messages" >
  </ul>
  <form action="" id="messageForm">
    <input id="messageInput" autocomplete="off" data-testid="message-box"/>
    <button id="messageButton" data-testid="send-button" >enviar</button>
  </form>
  <form action="" id="nicknameForm">
    <input id="nicknameInput" autocomplete="off" data-testid="nickname-box"/>
    <button id="nicknameButton" data-testid="nickname-button" >enviar</button>
  </form>
  <script src="./script.js"></script>
</body>
</html>
